%nav.navbar.navbar-expand-lg.border-bottom
  .navbar-brand
    = link_to 'Bistrowork', eatery_order_stocks_index_path, class: 'navbar-brand text-secondary'
  %ul.navbar-nav.mr-auto
  
  %ul.navbar-nav
    %li.nav-item.mr-3
      = link_to ' Bistroworkとは', static_pages_about_path, class: "far fa-question-circle"

  - unless shop_signed_in?
    %ul.navbar-nav
      %li.nav-item.mr-3
        = link_to ' サインアップ', new_shop_registration_path, class: "fas fa-user-plus"
      %li.nav-item.mr-3
        = link_to ' ログイン', new_shop_session_path, class: "fas fa-sign-in-alt"
          
  - if shop_signed_in?
    %ul.navbar-nav
      %li.nav-item.mr-3.text-right
        = link_to ' ログアウト', destroy_shop_session_path, method: :delete, class: "fas fa-sign-out-alt"
      %li.nav-item.mr-3.text-right
        = link_to ' ' + current_shop.name, edit_shop_registration_path, class: "fas fa-user"