.sidebar-nav
  %p
    発注管理
  %ul.nav.flex-column
    %li.nav-item
      = link_to '発注情報入力', '#', class: 'nav-link'
    %li.nav-item
      = link_to '在庫状況登録', '#', class: 'nav-link'
    %li.nav-item
      = link_to '最適在庫数設定', eatery_proper_stocks_index_path, class: 'nav-link'
  %p
    マスタ情報管理
  %ul.nav.flex-column
    %li.nav-item
      = link_to '仕入先一覧', eatery_suppliers_path, class: 'nav-link'
    %li.nav-item
      = link_to '商品一覧', eatery_items_path, class: 'nav-link'
