!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title Bistrowork|個人飲食店業務をより効率的に
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/eatery/header'
    .container_fluid
      .row
        .col-sm-2
          = render 'layouts/eatery/sidemenu'
        .col-sm-9.pt-3
          = render 'layouts/eatery/flash_message'
          = yield
