%section
  %h1.title 食材一覧
  %hr

  = link_to ' 新規作成', new_eatery_item_path, class: 'btn btn-outline-success fas fa-plus'
  %table.table.is-bordered.is-hoverable
    %thead
      %tr
        %th ID
        %th 食材名
        %th 仕入先
        %th カテゴリー
        %th 発注から到着までの日数
        %th メモ
        %th
    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.name
          %td= item.supplier.name
          %td= item.category
          %td= item.lead_time
          %td= item.memo
          %td= link_to '編集', edit_eatery_item_path(item)
